* {
    font-family: "Lucida Console", "Courier New", monospace;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}
header, footer {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    margin: 35px 0px 0px 0px;
    width: 95%;
    max-width: 1200px;
    height: 50px;
    padding: 15px;
    border-radius: 5px;
    background-color:rgb(240, 240, 235);
    box-shadow: 8px 8px 0px 0px rgba(47, 64, 71, 0.212);
}
footer {
    justify-content: center;
}
.balance {
    background: url(thumbs/ethereum2.ico) no-repeat left center;
    padding:8px 6px 6px 30px;
    background-size: 20px;
    background-position: 6px;
    min-height: 20px;
}
button {
    padding:6px 6px 6px 32px;
    border-width: 1px;
    border-radius: 3px;
}
button:hover {
    background-color: #FFF;
    box-shadow: 3px 3px 0px 0px rgba(47, 64, 71, 0.212);
}
button:active {
    background-color: #FFF;
    box-shadow: none;
}
.connect-wallet {
    background: url(thumbs/metamask2.ico) no-repeat left center;
    background-size: 20px;
    background-position: 6px;
}
.donate-button {
    background: url(thumbs/cafe.png) no-repeat left center;
    background-size: 30px;
    background-position: 6px;
    padding-left: 45px;
    background-color:rgb(243, 243, 239);
    box-shadow: 3px 3px 0px 0px rgba(47, 64, 71, 0.212);
}
.donate-button:hover {
    background-color:#FFF;
}
.donate-button:active {
    box-shadow: none;
}
content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 0px 0px 0px;
}
img {
    margin: 5px;
    width: 100px;
    max-height: 100px;
    float: left;
    border-radius: 5px;
}
ul {
    width: 100%;
    max-width: 750px;
    min-width: 300px;
    padding: 10px;
}
li {
    margin: 15px;
    display: flex;
    border-radius: 5px;
    box-shadow: 8px 8px 0px 0px rgba(47, 64, 71, 0.212);
    transition: 0.2s;

}
li a {
    display: flex;
    border-radius: 5px;
    width: 100%;
    text-decoration: none;
    color: black;
    transition: 0.2s;

}
li:nth-child(odd) {
    background: rgb(240, 240, 235);
}
li:nth-child(even) {
    background: rgb(240, 240, 250);
}
li:hover {
    background: #333;
    color: white;
}
li:hover > a {
    color: white;
}
p {
    display: inline-block;
    margin: 5px;
    overflow: hidden;
    text-overflow: break-word;
}
