* {
    font-family: "Lucida Console", "Courier New", monospace;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10vh;
}
img {
    margin: 5px;
    width: 100px;
    float: left;
    border-radius: 5px;
}
ul {
    width: 100%;
    max-width: 750px;
    min-width: 300px;
    padding: 10px;
}
li {
    margin: 15px;
    display: flex;
    border-radius: 5px;
    box-shadow: 8px 8px 0px 0px rgba(47, 64, 71, 0.212);
    transition: 0.2s;

}
li a {
    display: flex;
    border-radius: 5px;
    width: 100%;
    text-decoration: none;
    color: black;
    transition: 0.2s;

}
li:nth-child(odd) {
    background: rgb(240, 240, 235);
}
li:nth-child(even) {
    background: rgb(240, 240, 250);
}
li:hover {
    background: #333;
    color: white;
}
li:hover > a {
    color: white;
}
p {
    display: inline-block;
    margin: 5px;
    overflow: hidden;
    text-overflow: break-word;
}