@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}
header {
    display: flex;
    position:fixed;
    align-items: center;
    justify-content: baseline;
    width: 100%;
    height: 70px;
    padding: 10px 10vw;
    background-color: #24252A;
    box-shadow: -1px 10px 15px rgba(34, 34, 34, 0.6);
}
.navigation-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    padding-right: 10px;
    width: 100%;;
}
li, a, button {
    font-family: "Montserrat", sans-serif;
    justify-self: flex-end;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    color: #EDF0F1;
}
.logo-box {
    cursor: pointer;
    padding-left: 10px;
    align-content: center;
}
.logo {
    min-height: 20px;
    max-height:40px;
    width:auto;
}
.navigation-box {
    list-style: none;
    display: flex;
    flex-direction: row;
}
.navigation-box li {
    display: inline-block;
    padding: 0px 10px;
}
.navigation-box li a {
    transition: all 0.3s ease 0s;
}
.navigation-box li a:hover {
    color: #0088A9
}
button {
    cursor: pointer;
    border: none;
    border-radius: 50px;
    padding: 0px 12px;
    margin-left: 10px;
    font-size: 40px;
    background-color: rgba(0,136,169,1);
    transition: all 0.3s ease 0s;
}
button:hover {
    background-color: rgb(3, 194, 241);
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 70px;
    padding-bottom: 100px;
    overflow-y: auto;
}
.content-post {
    display: flex;
    flex-direction: column;
    width: 80vw;
    max-width: 1000px;
    margin: 30px;
    border-radius: 20px;
    box-shadow: -1px 10px 15px rgba(34, 34, 34, 0.3);
    background-color:rgba(199, 195, 195, 0.1); 
}
.img-post {
    border: none;
    border-radius: 15px;
    width: 100%;
    height: auto;
    margin-bottom: 30px;
/*    box-shadow: -1px 10px 15px rgba(34, 34, 34, 0.3); */

}
.text{
    border-radius: 20px;
    padding: 20px 20px;


}
.footer {
    color:#EDF0F1;
    background-color: #24252A;
    text-align: center;
    position: fixed;
    bottom:0px;
    height: 30px;
    width: 100%;
    box-shadow: -1px -5px 10px rgba(34, 34, 34, 0.6);

}
