* {
    font-family: "Lucida Console", "Courier New", monospace;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    cursor:context-menu;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f1faee;
}
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 15px;
    background-color: #A0BAB1;
    box-shadow: 12px 12px 0px 0px rgba(47, 64, 71, 0.212);
}
banner-title a {
    font-size: 4rem;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}

banner-title a:hover {
    transition-duration: 0.1s;
    color: rgba(0, 0, 0, 0.75);
}
banner-title a:active {
    color: black;
}
.menu-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    width: 85%;
    max-width: 1500px;
    margin: 25px;
    padding: 15px;
    background-color: #A0BAB1;
    box-shadow: 12px 12px 0px 0px rgba(47, 64, 71, 0.212);
}
main {
    display: flex;
    margin: 0% 10% 10% 10%;
    width: 85%;
    max-width: 1500px;
}
.card {
    display: flex;
    flex-direction: column;
    border: solid black 1px;
    border-radius: 8px;
    padding: 5px;
}
.card:hover {
    box-shadow: 8px 8px 0px 0px rgba(47, 64, 71, 0.212);
}
.sidebar {
    padding: 1%;
    margin-right: 5%;
    width: 25%;
    border-radius: 8px;
    background-color: #A0BAB1;
    box-shadow: 12px 12px 0px 0px rgba(47, 64, 71, 0.212);
}
.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2%;
    border-radius: 8px;
    background-color: #A0BAB1;
    box-shadow: 12px 12px 0px 0px rgba(47, 64, 71, 0.212);
    align-items: center;
}
.item-grid {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    align-items: stretch;
    justify-items: center;
}

.image-thumb {
    width: 200px;
    height: 200px;
    object-fit:cover;
    background-color: white;
    border-radius: 10px;
    margin: 5px 5px 5px 0;
}
input{
    background-color: rgb(208, 225, 212);
    width: 100%;
    border-radius: 5px;
    border: 0px;
    padding: 5px;
    margin-top: 1px;
    margin-bottom: 1px;
}
p {
    margin: 15px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.8);
}
.image-preview-box {
    display: none;
    position: fixed;    
    justify-content: center;
    align-items: center;
    top:0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}
.image-preview {
    padding: 10px;
    object-fit: contain;
    width: 80%;
    height: 80%;
}
.hide {
    display: none;
} 
